<% layout('./templates/bolierplate.ejs') -%>

<div class="row">
    <div class="col-6 offset-3">
        <h1><%=list.title%></h1>
        <br>
        <img src="<%=list.image.url%>" class="img-fluid" alt="...">
            <p class="des"><%=list.description%></p>
            <p > <b>&#8377;<%=list.price%>/night</b> </p>
            <p>country: <%=list.country%></p>
            <p>location: <%=list.location%></p>
            <div class="button">
                <button class="btn edit">edit</button> 
                <button class="btn delete">delete</button>
            </div>

    </div>
</div>

<script>
    let button=document.querySelector(".edit");
    let delete_=document.querySelector(".delete");
    button.addEventListener("click", () => {
    window.location.href = "http://localhost:8080/edit/<%=list.id%>"; 
    console.log("redirected");
});
delete_.addEventListener("click", () => {
    window.location.href = "http://localhost:8080/delete/<%=list.id%>"; 
});
</script>
