<% layout('./templates/bolierplate.ejs') -%>


<div class="container text-center">
  <h1>All Listings:</h1>
    <div class="row row-cols-lg-3  row-cols-md-3">

        
    <%for(let list of lists){%>

        <div class="col ">
          <div class="card">
            <a href="/listings/detail/<%=list.id%>" class="listing-link">
              <img src="<%=list.image.url%>" class="card-img-top" alt="nothing to show" style="height: 18rem">
              <div class="card-img-overlay"><%=list.title%></div>
              <div class="card-body">
                <h5 class="card-title"><%=list.title%></h5>
                <p class="card-text">&#8377;<%=list.price%>/night</p>
              </div>
            </a>  
            </div>
          </div>



    <%}%>

    </div>
  </div>


